.header-landing,
.header-search {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: white;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 50px;
}

.nav-link {
  text-decoration: none !important;
}

.header-landing {
  position: fixed;
  width: 100%;
  z-index: 2;
  background: linear-gradient(
    to right,
    rgb(0, 0, 0, 0.6) 20%,
    rgb(0, 3, 79) 50%,
    rgb(0, 0, 0, 0.6) 80%
  );
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  overflow: hidden;
}

.header-search {
  position: fixed;
  width: 100%;
  z-index: 2;
  background: linear-gradient(
    to right,
    rgb(0, 0, 0, 0.6) 20%,

    rgb(0, 3, 79) 50%,
    rgb(0, 0, 0, 0.6) 80%
  );
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  overflow: hidden;
}

.navClassList {
  position: fixed;
  height: 70px;
  top: 0;
  z-index: 2;
  background: linear-gradient(
    to right,
    black 20%,
    rgb(0, 3, 79) 45%,
    rgb(0, 3, 79) 65%,
    black 80%
  );
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.header-container * {
  display: inline-block;
}

.extraText {
  color: rgba(255, 255, 255, 0.25);
  font-weight: 200;
}

.pink {
  color: #de5aae;
  font-weight: 200;
  letter-spacing: 3px;
}

.w {
  color: rgba(255, 255, 255, 0.7) !important;
}

.listNavbar {
  max-width: 400px;
  position: relative;
  left: 25px;
}

.poweredList {
  letter-spacing: 4px;
  color: rgb(255, 255, 255, 0.4);
  white-space: nowrap;
}

.spotifyIconList {
  position: relative;
  bottom: 12px;
  font-size: 32px !important;
}

.underScore {
  color: rgb(255, 255, 255, 0.4);
  font-weight: 900;
}

@media screen and (max-width: 576px) {
  .navClassList {
    position: sticky;
  }
}
