.artistWholeListContainer {
  min-height: 100vh;
}

.artistWholeListContainer section {
  min-height: 100vh;
}

.artist-list-results {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  row-gap: 25px;
}

.songWholeListContainer {
  min-height: 100vh;
}

.whole-songs-container {
  height: 100%;
  grid-template-columns: 220px auto;
  transition: 1s;
}

.filler-div {
  height: 90px;
}

.search-input-container {
  padding: 5px 0;
}

.search-input {
  height: 40px;
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(60, 60, 60);
  background: linear-gradient(
    45deg,
    rgb(21, 21, 21),
    rgba(0, 0, 0),
    rgb(21, 21, 21)
  );
  overflow: hidden;
}

.search-input input {
  background: linear-gradient(
    45deg,
    rgb(21, 21, 21),
    rgba(0, 0, 0),
    rgb(21, 21, 21)
  );
  height: 100%;
  width: 100%;
  caret-color: white;
  padding: 0px 20px;
  font-size: 20px;
  font-family: "Varela Round", sans-serif !important;
  color: rgb(255, 255, 255, 0.7);
  overflow: hidden;
  border: none;
}

.search-input input:focus {
  outline: none;
}

.search-input input::placeholder {
  font-size: 16px;
}

.search-button {
  background-color: transparent;
  border: none;
  width: 60px;
  color: rgb(255, 255, 255, 0.5);
}

.noResultsSearch {
  background: linear-gradient(
    to right,
    rgb(26, 26, 26) 0%,
    rgb(13, 13, 13) 100%
  ) !important;
  height: 160px;
  margin-left: 20px;
  width: 70%;
  padding: 10px;
  flex-direction: column;
}

.song-list-empty-div {
  max-width: 320px;
  width: 100%;
}

.no-results-artists {
  min-height: 400px;
}

.typeHeader {
  font-family: "Raleway", sans-serif;
  color: rgba(255, 255, 255, 0.3) !important;
  letter-spacing: 2px;
}

.noResultsSong {
  height: 150px;
}

@media screen and (max-width: 900px) {
  .whole-songs-container {
    display: block !important;
    grid-template-columns: 250px auto;
    transition: 1s;
  }
}

@media screen and (max-width: 576px) {
  .noResultsSearch {
    background: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(13, 13, 13) 100%
    ) !important;
    height: 160px;
    margin-left: 20px;
    width: 70%;
    padding: 10px;
    flex-direction: column;
  }
}

@media screen and (max-width: 380px) {
  .typeHeader {
    text-align: center;
  }
}
