.artistWholeListContainer {
  background: linear-gradient(
    to right,
    black 0%,
    rgb(222, 90, 174, 0.3) 12%,
    black 24%,
    black 65%,
    black 78%,
    rgb(222, 90, 174, 0.3) 89%,
    black 100%
  );
  min-height: 100vh;
}

.artistWholeListContainer section {
  min-height: 100vh;
}

.artist-list-results {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  row-gap: 25px;
}

.songWholeListContainer {
  min-height: 100vh;
  background: linear-gradient(
    to right,
    black 0%,
    rgb(222, 90, 174, 0.3) 12%,
    black 24%,
    black 65%,
    black 78%,
    rgb(222, 90, 174, 0.3) 89%,
    black 100%
  );
}

.whole-songs-container {
  background: linear-gradient(
    to right,
    black 0%,
    rgb(222, 90, 174, 0.3) 12%,
    black 24%,
    black 65%,
    black 78%,
    rgb(222, 90, 174, 0.3) 89%,
    black 100%
  );
  height: 100%;
  grid-template-columns: 220px auto;
  transition: 1s;
}

.search-list-div {
  background: linear-gradient(
    to right,
    rgb(26, 26, 26) 0%,
    rgb(13, 13, 13) 100%
  ) !important;
  height: auto;
  padding: 5px 0;
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
}

.noResultsSearch {
  background: linear-gradient(
    to right,
    rgb(26, 26, 26) 0%,
    rgb(13, 13, 13) 100%
  ) !important;
  height: 160px;
  margin-left: 20px;
  width: 70%;
  padding: 10px;
  flex-direction: column;
}

.song-list-empty-div {
  max-width: 320px;
  width: 100%;
}

.no-results-artists {
  min-height: 400px;
}

.typeHeader {
  font-family: "Raleway", sans-serif;
  color: rgba(255, 255, 255, 0.3) !important;
  letter-spacing: 2px;
}

.noResultsSong {
  height: 150px;
}

@media screen and (max-width: 900px) {
  .whole-songs-container {
    display: block !important;
    grid-template-columns: 250px auto;
    transition: 1s;
  }
}

@media screen and (max-width: 576px) {
  .noResultsSearch {
    background: linear-gradient(
      to right,
      rgb(26, 26, 26) 0%,
      rgb(13, 13, 13) 100%
    ) !important;
    height: 160px;
    margin-left: 20px;
    width: 70%;
    padding: 10px;
    flex-direction: column;
  }
}

@media screen and (max-width: 380px) {
  .typeHeader {
    text-align: center;
  }
}
