.search-main {
  min-height: 100vh;
}

.actual-search-box {
  height: 100vh;
}

.fixed {
  height: 75.6px;
}

.input-container {
  max-width: 750px;
}

.main-input {
  height: 40px;
  max-width: 600px;
  width: 100%;
  border-radius: 25px;
  border: 1px solid rgb(60, 60, 60);
  background: linear-gradient(
    45deg,
    rgb(21, 21, 21),
    rgba(0, 0, 0),
    rgb(21, 21, 21)
  );
  overflow: hidden;
}

.main-input input {
  background: linear-gradient(
    45deg,
    rgb(21, 21, 21),
    rgba(0, 0, 0),
    rgb(21, 21, 21)
  );
  height: 100%;
  width: 100%;
  caret-color: white;
  padding: 0px 20px;
  font-size: 20px;
  font-family: "Varela Round", sans-serif !important;
  color: rgb(255, 255, 255, 0.7);
  overflow: hidden;
  border: none;
}

.main-input input:focus {
  outline: none;
}

.main-input input::placeholder {
  font-size: 16px;
}

.search-button {
  background-color: transparent;
  border: none;
  width: 60px;
  color: rgb(255, 255, 255, 0.5);
}

.search-header {
  max-width: 600px;
  width: 100%;
  font-family: "Varela Round", sans-serif !important;
  font-size: 24px;
}

.redo {
  cursor: pointer;
  user-select: none;
}

.redo-button {
  background: linear-gradient(
    45deg,
    rgb(21, 21, 21),
    rgba(0, 0, 0),
    rgb(21, 21, 21)
  );
  border: 1px solid rgb(60, 60, 60);
  color: rgb(255, 255, 255, 0.7);
  border-radius: 10px;
}

.redo-category {
  color: rgb(255, 255, 255, 0.7);
}

.redo-button i {
  position: relative;
  left: 2px;
}

.category-container {
  font-family: "Varela Round", sans-serif !important;
}

.category-separator {
  width: 2px;
  height: 100px;
  background-color: white;
}

.category-choices {
  max-width: 600px;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.category-choices button {
  font-family: "Varela Round", sans-serif;
  font-size: 43px;
  color: rgba(200, 200, 200);
  cursor: pointer;
  background: none;
  border: none;
}

@media screen and (max-width: 324px) {
  .category-separator {
    display: none !important;
  }

  .category-choices {
    gap: 70px;
  }
}
