.artistWholeListContainer {
  min-height: 100vh;
  background-attachment: fixed !important;
}

.artist-list-container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  row-gap: 25px;
}

.filler-div {
  height: 90px;
}

.search-input-container {
  padding: 5px 0;
  min-height: 50px;
}

.artist-grid {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  row-gap: 10px;
  max-width: 100%;
  align-items: center;
  justify-items: center;
}

.artist-grid-less {
  grid-template-columns: repeat(auto-fit, minmax(180px, 180px));
  max-width: 100%;
}

.pages {
  max-width: 700px;
  justify-self: center;
  font-family: "Raleway", sans-serif;
}

.pages p {
  color: rgba(255, 255, 255, 0.35);
  cursor: pointer;
  margin-bottom: 0;
  max-width: 170px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .artist-grid-less {
    justify-content: center;
  }
}
