#root {
  background-color: black;
  min-height: 100vh;
}

.search-input {
  background-color: black !important;
  caret-color: white;
  border-radius: 10px !important;
  color: white !important;
  border-color: rgba(255, 255, 255, 0.3) !important;
  max-width: 180px !important;
  width: 200px !important;
  transition: 0.5s !important;
}

.search-input-focus {
  max-width: 220px !important;
  width: 220px !important;
}

.list-search-div {
  width: 100%;
}

.loading {
  background-color: black !important;
}

.searchButton {
  width: 30px !important;
}



@media screen and (max-width: 380px) {
  .list-search-div {
    justify-content: center !important;
  }
}
