#mainContainer {
  background-color: black;
  height: 100vh;
  grid-template-columns: 15vw 85vw;
}

#selectedContainer {
  background-color: black;
}

#mainPortion {
  background-image: linear-gradient(rgb(64, 64, 64), rgb(13, 13, 13));
  grid-template-rows: 20vh 80vh;
}

#headerContainer {
  height: 100%;
  grid-template-rows: 60% 40%;
}

#searchContainer {
  margin-right: 150px;
}

#headerLogo {
  color: white;
  font-family: "Ubuntu", sans-serif;
  background-color: black;
  opacity: 0.75;
  transition: opacity 2s;
}

#headerLogo:hover {
  background-color: black;
  opacity: 1;
}

.hoveredInput {
  background-color: black;
  opacity: 1 !important;
}

#header2 {
  background-color: #00034f;
  border-bottom: 1px solid black;
}

.searchInput {
  background-color: black !important;
  caret-color: white;
  border-radius: 10px !important;
  color: white !important;
}
