.mainContainer {
  background-color: black;
  height: 100vh;
  grid-template-columns: 15vw 85vw;
  transition: 2s;
}

.containerAnimate {
  grid-template-columns: 25vw 75vw;
}

#selectedContainer {
  background-color: black;
  height: 100%;
}

.selectedDiv {
  height: 100% !important;
}

.selectedSongDiv {
  height: 75% !important;
}

.songItem {
  height: 100%;
}

.description {
  height: 40%;
}

.description .item,
.description .content {
  height: 100%;
  color: rgb(210, 210, 210) !important;
  text-decoration: none !important;
}

.content span,
.content .extra {
  color: rgb(210, 210, 210) !important;
}

#mainPortion {
  background-image: linear-gradient(
    #0015a0 15%,
    rgb(30, 30, 30),
    rgb(26, 26, 26),
    rgb(13, 13, 13)
  );
  grid-template-rows: 20vh 80vh;
}

.artists {
  grid-template-columns: repeat(3, 33%);
  grid-auto-flow: row;
  grid-template-rows: 70px;
  grid-auto-rows: 400px;
  overflow: scroll;
}

.tracks {
  grid-template-columns: repeat(1, 100%);
  grid-auto-flow: row;
  grid-template-rows: 70px;
  grid-auto-rows: 100px;
  overflow-y: scroll;
}

.trackItem {
  width: 100%;
  background-color: rgb(26, 26, 26) !important;
  box-shadow: 0px 1px rgb(30, 30, 30) !important;
  color: white !important;
  cursor: default !important;
}

.trackItem .content {
  height: 100%;
  color: rgb(210, 210, 210);
  font-weight: 200;
  font-family: "Barlow", sans-serif;
}

.trackItem:hover {
  box-shadow: black;
}

.trackItem h3 {
  display: initial !important;
}

#headerContainer {
  height: 100%;
  grid-template-rows: 60% 40%;
}

.headerLogo {
  background: linear-gradient(
    to right,
    black 30%,
    rgb(0, 21, 160, 0) 50%,
    black 70%
  );
  color: white !important;
  transition: 3s;
}

.headerFont {
  font-family: "Prompt", sans-serif;
  font-weight: 200;
  color: white;
  letter-spacing: 3px;
}

.headerLogo:hover {
  background-color: black;
}

.hoveredInput {
  background-color: rgb(0, 0, 0, 1);
}

.scrolledHeader {
  opacity: 0.5;
}

#header2 {
  background-color: #00034f;
  border-bottom: 1px solid black;
}

.searchInput {
  background-color: black !important;
  caret-color: white;
  border-radius: 10px !important;
  color: white !important;
}

.artistCard {
  background-color: rgb(26, 26, 26) !important;
  box-shadow: 0px 1px rgb(30, 30, 30) !important;
  cursor: pointer;
  width: 260px !important;
}

.artistCard img {
  width: 240px !important;
  height: 240px !important;
  border-radius: 4px !important;
  filter: contrast(120%) blur(0.2px);
}

.artistCard p {
  color: rgb(210, 210, 210) !important;
}

.artistCard:hover {
  background: linear-gradient(
    to bottom,
    black 10%,
    rgb(0, 21, 160, 1) 50%,
    black 80%
  );
}

.songHeader {
  height: 40px;
  width: 30%;
  color: white !important;
  border-color: white !important;
}

.artistHeader {
  grid-column: 1/4;
  height: 40px;
  width: 30%;
  color: white !important;
  border-color: white !important;
}

.noSongHeader,
.noSongHeader div {
  color: white !important;
}

select {
  height: 35px;
}

.iconRed {
  color: red !important;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .selectedDiv {
    width: 100%;
  }

  #searchContainer {
    width: 40% !important;
  }

  .songItem {
    width: 100%;
  }

  .artistHeader {
    text-align: center;
    grid-column: 1/4;
    height: 45px;
    width: 50%;
    color: white !important;
    border-color: white !important;
  }

  .songHeader {
    text-align: center;
    height: 45px;
    width: 50%;
    color: white !important;
    border-color: white !important;
  }
}

@media screen and (max-width: 992px) {
  #selectedContainer {
    display: none !important;
  }

  .mainContainer {
    background-color: black;
    height: 100vh;
    grid-template-columns: 100vw;
    transition: 2s;
  }

  #searchContainer {
    width: 50% !important;
  }

  .artistHeader {
    text-align: center;
    grid-column: 1/4;
    height: 100px;
    width: 70%;
    color: white !important;
    border-color: white !important;
  }

  .songHeader {
    text-align: center;
    height: 40px;
    width: 70%;
    color: white !important;
    border-color: white !important;
  }

  .trackItemContainer {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .mainContainer {
    background-color: black;
    height: 100vh;
    grid-template-columns: 100vw;
    transition: 2s;
  }

  #selectedContainer {
    display: none !important;
  }

  #mainPortion {
    grid-template-rows: 30vh 70vh;
  }

  .artistHeader {
    text-align: center;
    grid-column: 1/4;
    height: 100px;
    width: 70%;
    color: white !important;
    border-color: white !important;
  }

  #searchContainer {
    width: 70% !important;
  }

  .songHeader {
    text-align: center;
    height: 40px;
    width: 70%;
    color: white !important;
    border-color: white !important;
  }

  .trackItemContainer {
    width: 80%;
  }
}
