.search-input {
  height: 40px;
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(60, 60, 60);
  background: linear-gradient(
    45deg,
    rgb(21, 21, 21),
    rgba(0, 0, 0),
    rgb(21, 21, 21)
  );
  overflow: hidden;
}

.search-input input {
  background: linear-gradient(
    45deg,
    rgb(21, 21, 21),
    rgba(0, 0, 0),
    rgb(21, 21, 21)
  );
  height: 100%;
  width: 100%;
  caret-color: white;
  padding: 0px 20px;
  font-size: 20px;
  font-family: "Varela Round", sans-serif !important;
  color: rgb(255, 255, 255, 0.7);
  overflow: hidden;
  border: none;
}

.search-input input:focus {
  outline: none;
}

.search-input input::placeholder {
  font-size: 16px;
}

.search-button {
  background-color: transparent;
  border: none;
  max-width: 60px;
  color: rgb(255, 255, 255, 0.5);
}

.search-button-nav {
  background-color: transparent;
  border: none;
  max-width: 60px;
  color: rgb(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-search-bar .search-button {
  background-color: transparent;
  border: none;
  max-width: 60px;
  color: rgb(255, 255, 255, 0.5);
  display: flex;
  position: relative;
  bottom: 5px;
  align-items: center;
  justify-content: center;
}

.searchButton {
  width: 30px !important;
}

.caret-icon {
  color: rgb(255, 255, 255, 0.5);
  width: 30px !important;
}

@media screen and (max-width: 553px) {
  .search-input-container {
    justify-content: center !important;
  }
}

@media screen and (max-width: 468px) {
  .search-button-nav {
    margin-left: auto;
  }
}
