.start-button {
  margin: 0 auto;
  max-width: 250px;
  color: white;
  background-color: transparent;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  border: 1px solid white;
}

.landing-main {
  min-height: 100vh;
  background: radial-gradient(circle at 0 0, rgb(0, 5, 133), transparent 50%);
}

.landing-content {
  height: 100vh;
}

.spotify-nav {
  color: rgba(169, 169, 169, 0.178);
  font-size: 36px !important;
}

.pink {
  color: #de5aae;
  font-weight: 200;
  letter-spacing: 3px;
}

.w {
  color: rgba(255, 255, 255, 0.7) !important;
}

.circle-div {
  position: relative;
  right: 40px;
  bottom: 20px;
}

.circle-1 {
  position: relative;
  right: 40px;
  top: 30px;
}
.circle-2 {
  position: relative;
  left: 45px;
  top: 30px;
}

.spotify-div {
  max-width: 500px;
  letter-spacing: 1px;
  position: relative;
  opacity: 0;
}

.powered {
  color: #fff !important;
  white-space: nowrap;
}

.spotify-nav {
  position: relative;
  bottom: 10px;
  left: 5px;
}

.scolling-container {
  position: relative;
  top: 20px;
  overflow-y: visible;
  max-width: 210px;
}

.ribbon-div {
  height: 100px;
  width: 100%;
  position: relative;
  top: 40px;
}

.framer-icon,
.react-icon,
.router-icon,
.typescript-icon {
  position: relative;
  display: inline-block;
}

.framer-icon {
  right: 80px;
  bottom: 15px;
}
.react-icon {
  right: 175px;
  bottom: 10px;
}
.router-icon {
  right: 280px;
  bottom: 15px;
}
.typescript-icon {
  right: 340px;
  /* bottom: 5px; */
}
